@import "./theme.css";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-color: var(--background-color-ui-primary);
	color: var(--color-text);
}

ul,
ol {
	list-style: none;
}

h1 {
	font-size: var(--font-size-heading);
	line-height: var(--baseline);
	margin-bottom: var(--baseline);
}

h2 {
	font-size: var(--font-size-body);
	line-height: var(--baseline);
	margin-bottom: var(--baseline);
}

p {
	margin-bottom: var(--baseline);
	font-size: var(--font-size-body);
	line-height: var(--baseline);
}
