@import "./theme.css";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: var(--font-size-body);
	font-family: sans-serif;
	background-color: var(--background-color-ui-primary);
	color: var(--color-text);
}

h1 {
	font-size: var(--font-size-heading);
	line-height: var(--baseline);
	margin-bottom: var(--baseline);
}

h2,
h3,
h4 {
	font-size: var(--font-size-body);
	line-height: var(--baseline);
	margin-bottom: var(--baseline);
}

p {
	margin-bottom: var(--baseline);
	font-size: var(--font-size-body);
	line-height: var(--baseline);
}

code {
	font-size: 15px;
}

small {
	font-size: 14px;
	line-height: var(--baseline);
}

input::placeholder {
	color: var(--color-text-soft);
	opacity: 1;
}
